*, *:before, *:after {
  box-sizing: border-box;
  outline: 0;
}

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'HelveticaNeueCyr', sans-serif;
  background: #F4FFE1;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

section {
  display: none;
}

/* General */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F4FFE1;
}

.MainWrapper {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: flex-end;
}

/* Menu-style */

.Search {
  white-space: nowrap;
}

.Menu {
  display: flex;
  flex-direction: column;
  margin-top: 12%;
}

.Menu a {
  color: #000;
}

.Menu ul {
  padding: 0;
  margin: 0;
}

.Nav {
  display: flex;
  flex-direction: row;
  margin-top: 16%;
}

button {
  border: none;
  background: #F4FFE1;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

input {
  background: #F4FFE1;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

input::placeholder {
  font-weight: 800;
  color: black;
}

.nav-item, .options-item {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0 4px 0 4px;
}

.nav-counter {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.Nav li {
  margin-top: 4px;
}

.nav-names a:hover {
  background: purple;
  color: #fff;
}

.Options {
  margin-top: 5%;
}

.Options a {
  font-size: 10px;
  color: purple;
}


.nav-counter {
  margin-left: 24%;
}

.nav-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Menu-style-end */

/* ---------- */

/* Content-style */

.ContentWrapper {
  width: 76vw;
  margin-top: 4%;
}

.logo img {
  width: 10vw;
}

.ProductItem img {
  width: 100%;
}

.product-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 8px;
}

/* relevant styles */
.ProductItem {
  position: relative;
  width: 20%;
  height: 200px;
}

.price span {
  cursor: default;
}

.title, .prod-price {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.product-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.ProductItem:hover .product-info {
  visibility: visible;
  opacity: 1;
}

.ProductItem:hover .product-img {
  opacity: .5;
  transition: .5s all;
}

.product-img {
  transition: .5s all;
}



.product-link, .price {
  transition: .2s;
  transform: translateY(1em);
}

.ProductItem:hover .product-name, .price {
  transform: translateY(0);
}

/* Content-style-end */

/* hamb-Menu */

.Topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.HambMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(244, 255, 225);
  background-color: rgba(244, 255, 225, 0.9);;
  overflow: hidden;
  transition: 0.5s;
}

.hamb-menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 30px 0 0 50px;
}

.HambMenu a {
  padding: 1px;
  text-decoration: none;
  font-size: 21px;
  color: #000;
  white-space: nowrap;
  transition: 1s;
}

.HambMenu a:hover, .HambMenu a:focus {
  color: #c0c0c0;
}

.HambMenu .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 46px;
  color: #000;
}

.hamb {
  display: none;
  font-size: 26px;
  z-index: 1;
  animation: fadein 2s;
  color: #000;
}

.hamb:hover {
  color: #c0c0c0;
  cursor: pointer;
  transition: 1s all;
}

.hamb-menu-content li {
  padding: 4px;
}

/* Menu end */
/* STYLES SPECIFIC TO FOOTER  */

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #F4FFE1;
  padding: 4% 0 4% 0;
}

.contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  margin: 4% 0 0 0;
  padding: 0;
}
.footer .col ul li {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.footer .col a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer .col a:hover {
  color: #c0c0c0;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

@media all and (max-width: 800px) {

.Menu {
  display: none;
}

.ContentWrapper {
  width: 100vw;
}

.logo img {
  width: 16vw;
}

/* hamb-Menu */

.HambMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

.hamb-menu-content {
  position: relative;
  top: 10%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}

.HambMenu a {
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1s;
}

.HambMenu .closebtn {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 40px;
}

.hamb { 
  display: flex;
  font-size: 26px;
  animation: fadein 2s;
  z-index: 1;
}

.hamb-menu-content li {
  padding: 4px;
}

.product-row {
  flex-direction: column;
}

.product-link {
  width: 50%;
}

/* relevant styles */
.ProductItem {
  position: relative;
  display: flex;
  flex-direction: row;
}

.price span {
  cursor: default;
}

.title, .prod-price {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.product-info {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.ProductItem:hover .product-info {
  visibility: visible;
  opacity: 1;
}

.ProductItem:hover .product-img {
  opacity: 1;
  transition: .5s all;
}

.product-link:hover .product-img {
  opacity: 0.5;
  transition: .5s all;
}

.product-img {
  transition: .5s all;
}



.product-link, .price {
  transition: .2s;
  transform: translateY(1em);
}

.ProductItem:hover .product-name, .price {
  transform: translateY(0);
}


}
@media only screen and (max-width: 950px) {
.footer .col {
  width: 33%;
}
.footer .col h1 {
  font-size: 14px;
}
.footer .col ul li {
  font-size: 13px;
}
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
.footer .col {
  width: 50%;
}
}

@media only screen and (max-width: 400px) {
.footer .col {
  width: 50%;
}
.footer .col h1 {
  font-size: 14px;
}
.footer .col ul li {
  font-size: 13px;
}
.logo img {
  width: 22vw;
}
}

@media only screen and (max-width: 340px) {
.footer .col {
  width: 100%;
}
}

@media all and (max-width: 1025px) {
.ProductItem-6 {
  display: none;
}
}

@media all and (max-width: 440px) {
  .HambMenu a {
    font-size: 12px;
    padding: 0;
  }
  .hamb-menu-content li {
    padding: 0;
  }
}

@media all and (max-width: 400px) {
  .hamb-menu-content {
    flex-direction: column;
  }
}

@media all and (max-width: 240px) {
  .MainWrapper {
  display: none;
  }
  .footer {
    display: none;
  }
  section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  }
  .alert-h2 {
  color: #000;  
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  }
}

@media all and (max-width: 767px) {

.App {
  min-height: 450px;
}

body {
  overflow-y: auto;
}

}

@media all and (max-width: 255px) {
}

@media all and (min-width : 2400px) {
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  background: #070707;
}
}